html, body {
  height: 100%;
  margin: 0;
  background-color: #ffffff;
  font-family: 'ui-sans-serif','system-ui','-apple-system','BlinkMacSystemFont', 'Inter', sans-serif;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.subheading {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B5563;
  margin-top: 10px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  flex: 1;
  min-width: 60px;
}

.icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon img {
  display: block;
  margin: auto;
  height: 50%;
  width: 50%;
}

.icon:last-child {
  margin-right: 0;
}

.icons-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
  max-width: 100%;
}

.icon-text {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #4B5563;
  margin-top: 5px;
  text-align: center;
}

.projects { background: #F4793E; }
.home { background: #498467; }
.linkedin { background: #087CB4; }
.resume { background: #7F5757; }
.github { background: #562C2C; }
.email { background: #E34033; }
.dark { background: #3F3D3D; }

@media (max-width: 768px) {
  .icon {
    transition: none !important;
  }

  .icon:hover {
    box-shadow: none !important;
    transform: none !important;
  }
}

@media (max-width: 600px) {
  .icons-container {
    justify-content: space-around;
  }

  .icon-container {
    margin: 2px 1px;
  }

  .icon {
    margin: 9px 9px;
  }
}
